RewriteEngine On

# Bloqueia acesso direto a arquivos sensíveis
<FilesMatch "^\.(env|htaccess)">
    Require all denied
</FilesMatch>

# Redireciona tudo para index.php mantendo o path
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
